
  .background {
    padding-top:50px;
    padding-bottom:50px;
    width: 100%;
    background: linear-gradient(to top, #4e42844c, #2d26845d), url(https://static.vecteezy.com/system/resources/thumbnails/007/164/537/small/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg) no-repeat top center;
    background-size: cover;
    
}